@import "tailwindcss";

:root {
  /* Brand Colors */
  --color-primary: 30 58 138; 
  --color-secondary: 249 115 22; 
  --color-bg-light: 248 250 252;
  --color-bg-white: 255 255 255;
}

/* Di Tailwind v4, kita bisa langsung target element */
html {
  scroll-behavior: smooth;
}

body {
  /* @apply bekerja karena kita sudah @import "tailwindcss" di atas */
  @apply bg-slate-50 text-slate-800 antialiased;
}

@utility text-primary {
  color: rgb(var(--color-primary));
}

@utility bg-primary {
  background-color: rgb(var(--color-primary));
}

@utility text-secondary {
  color: rgb(var(--color-secondary));
}

@utility bg-secondary {
  background-color: rgb(var(--color-secondary));
}

@utility container-custom {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}